<nav class="navbar"> 
  <a class="nav-button" routerLink="/" routerLinkActive="active">
    <span class="uppercase">Home</span>
    <div class="nav-button-hover"></div>
  </a>
  <a class="nav-button" routerLink="/poloniex" routerLinkActive="active">
    <span class="uppercase">Poloniex</span>
    <div class="nav-button-hover"></div>
  </a>
  <a class="nav-button" routerLink="/localbitcoins" routerLinkActive="active">
    <span class="uppercase">Localbitcoin</span>
    <div class="nav-button-hover"></div>
  </a>
  <!--<a class="nav-button">-->
  <!--  <span class="uppercase"><i class="material-icons">search</i></span>-->
  <!--  <div class="nav-button-hover"></div>-->
  <!--</a>-->
</nav>